* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-height: 970px;
}

/*!HORIZONTAL*/

.horizontal {
    position: relative;
    top: 50px;
    background-color: rgb(4, 77, 203);
    width: 100%;
    height: 150px;

}

.horizontal h2 {
    color: white;
    position: absolute;
    left: 50%;
    font-size: 3em;
}

.horizontal h1 .apellido {
    color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 1.5em;
}

.horizontal .dwfs {
    color: white;
    position: absolute;
    left: 50.3%;
    top: 75%;
    font-size: 18px;
}




/*!VERTICAL*/

.vertical {
    position: relative;
    bottom: 190px;
    left: 0.8%;
    background-color: rgb(0, 61, 166);
    width: 300px;
    height: 1024px;
    max-height: 1200px;
    /* margin-left: 40px; */
    /* border: 1px solid aqua; */

}

.logo {
    position: relative;
    top: 8%;
    margin: 0 auto;
    /* background-color: aqua; */
    height: 13%;
    border-radius: 70%;
    width: 50%;
}

.logo img {
    width: 100%;
    border-radius: 100px;
    margin-top: 20px;
}

.container-vertical {
    margin-top: 50%;
    padding: 15px ;

}

.container-vertical h1 {
    text-align: center;
    color: white;
    margin-bottom: 100px;
    position: absolute;
    left: 99px;
    bottom: 570px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.container-vertical p {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 440px;
    padding: 30px ;
}


.container-icons {
    display: block;
    position: relative;
    bottom: 370px;
    margin-left: 10px;
}
.display-5 .estilos {
    position: absolute;
    width: 500px;
    bottom: 240px;
    margin-left: 25px;
    color: white;

}

.display-5 .numerotelefono {
    font-size: 16px;
    position: absolute;
    bottom: 235px;
    left: 85px;
    color: white;
}

.display-5 .message {
    position: absolute;
    bottom: 160px;
    color: white;
    margin-left: 27px;
    
}

.display-5 .email {
    position: absolute;
    bottom: 160px;
    left: 50px;
    color: white;
    margin-left: 27px;
    font-size: 16px;
    font-family: 'poppins', sans-serif;  
}

.fbook-logo {
    position: absolute;
    bottom: 85px;
    left: 26px;
    color: white
}

.facebook-ruta{
    position: absolute;
    bottom: 80px;
    left: 77px;
    color: white;
    font-size: 16px;
}

.logo-lkdn {
    position: absolute;
    bottom: 10px;
    left: 29px;
    color: white;

}

.p-linkedin {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 75px;
    font-size: 16px;
}

.github-logo {
    position: absolute;
    top: 20px;
    left: 27px;
    color: white;
}

.text-github {
    color: white;
    position: absolute;
    top: 30px;
    font-size: 16px;
    left:74px;
}

.container-main {
    /* border: 1px solid black; */
    width: 50%;
    position: relative;
    bottom: 880px;
    left:33%;
    height: 400px;
}

.container-main .main-info ul {
    margin-bottom: 30px;
    position: relative;
    bottom: 40px;
    left: 20px;
}

.container-main .main-info .dwfs-main {
   margin-left: 50px;
   position: relative;
   bottom: 30px;
}

.experiencia {
    color: rgb(18, 18, 200);
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
    text-decoration:underline;

}

.icon-flecha {
    position: absolute;
    top: 20px;
    left: 30px;
}


.main-info {
    font-family: 'Poppins', sans-serif;
    
}

.main-info p{
    margin-left: 20px;
}

.objetivos{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 20px;
    font-family: 'Poppins', sans-serif;
}

.objetivos h1 {
    position: relative;
    bottom: 50px;
    color: rgb(18, 18, 200);
    right: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    font-size: 2em;

}

.flecha-right1 {
    position: absolute;
    top: 190px;
}

.flecha-right2 {
   position: relative;
   left: -148px;
   top: 60px;
}

.objetivo1 {
    position:absolute;
}


.logo-language {
    position: absolute;
    left: 27%;
    
}

.contenedor-idiomas-educacion {

margin-left: 200px;
margin-top: 200px;

}

.container-main .idiomas {
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
 
}

.container-main .text-idioma {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: rgb(20, 20, 183);
    margin-left: 10px;
    position: relative;
    bottom: 40px;
}

.container-main .idiomas .ingles-basico {
    font-family: 'Poppins', sans-serif;
   position: relative;
   bottom: 40px;
   
}

.container-main .educacion {
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    position: relative;
    bottom: 40px;
    
}

.container-main .text-educacion {
    font-size: 25px;
    color: rgb(20, 20, 183 );
    margin-left: 10px;
}

.logo-education {
    position: absolute;
    left: -14px;
    top: 40px;
    
}



